@import '../../../../../themes/cil/source/styles/mixins';
.cil-paragraph {
	position: relative;
	z-index: 1;
	font-size: 18px;
	@media ( width <= 920px ) {
		font-size: 17px;
	}
	@media ( width <= 767px ) {
		font-size: 16px;
	}

	&__align {
		&--left {
			text-align: left;
		}

		&--center {
			text-align: center;
		}

		&--right {
			text-align: right;
		}
	}

	&__wrap {
		p {
			&:not( :last-child ) {
				margin-bottom: 30px;
			}
		}
	}
}
