.block-editor-block-list__block {
	ul:has( li.cil-list__vertical ),
	ol:has( li.cil-list__vertical ) {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 0;

		@media ( width <= 767px ) {
			gap: 20px;
		}
	}

	ul:has( li.cil-list__horizontal ),
	ol:has( li.cil-list__horizontal ) {
		display: grid;
		grid-template-columns: repeat( 3, 1fr );
		gap: 30px;
		padding: 0;

		@media ( width <= 840px ) {
			grid-template-columns: 1fr;
		}

		@media ( width <= 767px ) {
			gap: 20px;
		}
	}

	li.cil-list__vertical,
	li.cil-list__horizontal {
		display: block;
	}
}
